<%= render :partial => 'admin/shared/press_tabs', :locals => {:current => "Images"} %>

<% if @press_image.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @press_image %>
<% end %>

<%= form_for([:admin, @press.id, @press_image], :url => admin_press_image_url(@press, @press_image), :html => { :multipart => true }) do |f| %>
  <p>
    <%= label_tag ("thumbnail") %>:<br/>
    <%= link_to(image_tag(@press_image.attachment.url(:mini)), @press_image.attachment.url(:product)) %>
  </p>
  <%= render "form", :form => f %>
  <p class="form-buttons">
    <%= button t("update") %>
    or <%= link_to t("cancel"), admin_press_images_url(@press), :id => "cancel_link" %>
  </p>
<% end %>