<div class="press-mention" id="<%= dom_id(press) %>">
  
  <% press.images.each do |image| %>
    <div class="press-image">
      <%= image_tag image.attachment.url(:medium), :alt => image.alt || @press.title %>
    </div>
  <% end %>    
  
  <div class="press-info">
    <h2><%= press.title %></h2>
    <% unless press.publication.blank? %>
      <h3><%= press.publication %></h3>
    <% end %>
    <h5><%= press.published_at.strftime('%B %A %d, %Y').gsub(/\s0/, ' ') %></h5>

    <%= simple_format press.description %>
    
    <%= link_to t('.read_more'), press.url, :class => 'popup' unless press.url.blank? %>    
  </div>
  
  <br class="clear"/>
  
</div>