<%= render :partial => 'admin/shared/contents_sub_menu' unless SpreeEssentialPress.independent? %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t('.new'), new_admin_press_path, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t('.listing') %></h1>

<table class="index">
  <thead>
	<tr>
    	<th><%= sort_link @search, :title %></th>
    	<th><%= sort_link @search, :publication %></th>
    	<th><%= sort_link @search, :published_at %></th>
    	<th><%= t('action') %></th>
	</tr>
  </thead>
  <tbody>
    <%- @collection.each do |press|%>
    <tr id="<%= dom_id press %>">
      <td width="200px"><%= link_to press.title, admin_press_path(press) %></td>
      <td><%= press.publication %></td>
      <td><%= press.published_at.strftime('%x') %></td>
      <td>
      	<%= link_to_edit press %> &nbsp;
      	<%= link_to_delete press %> &nbsp;
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>


<% content_for :sidebar do %>
<div class="box">
  <h3><%= t(:search) %></h3>

  <% @press = Press.metasearch %>
  <%= form_for [:admin, @press] do |f| %>
    <p>
      <label><%= t 'activerecord.attributes.press.title' %></label><br />
      <%= f.text_field :title_like, :size => 25 %>
    </p>  
    <p><%= button t('search') %></p>
  <% end %>
</div>
<% end %>