<%= render :partial => 'admin/shared/contents_sub_menu' unless SpreeEssentialPress.independent? %>

<%= render 'admin/shared/press_tabs', :current => "" %>

<h1><%= @press.title %></h1>
<h3><%= @press.publication %></h4>
<h4><%= @press.published_at.strftime('%x') %></h4>

<% @press.images.each do |image| %>
  <%= image_tag image.attachment.url(:small), :alt => image.alt || @press.title %>
<% end %>

<%= simple_format @press.description %>

<p><%= link_to @press.url, @press.url %></p>

<p>
  <%= link_to_edit @press %> &nbsp;
  <%= link_to t('back'), collection_url %>
</p>